* {
    padding: 0;
    margin: 0;
    font-size: 3vh;
    /* border: 1px solid red; */
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    transition: 1.6s;
}

body {
    color: #d1cdc7;
    background-color: #352300;
    transition: 1.6s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
        
}

.header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.header-title {
    text-align: center;
}

.header-subtitle-text {
    font-weight: 600;
    text-align: center;
}

.procurar, .adicionar, .update {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.main {
    display: flex;
    justify-content: center;
}

.readAllMap {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem

}

.todoListReadAll {

    text-align: left;
    background-color: rgb(104, 104, 104, 0.3);
    margin: 5px 0 1px 0; 
    display: flex;
    padding: 7px;
    justify-content: center;

}

.todo-text {
    font-weight: 400;
    color: white;
    margin: 0 10px;
}

.button-home {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.button {
    background-color: #6b6b6b;
    color: white;
    margin-top: 0.5rem;
    border: none;
    padding: 5px;
    border-radius: 10%;
    font-weight: 600;
}

.button-red {
    background-color: rgba(255, 0, 0, .7);
    color: white;
    margin-top: 0.5rem;
    border: none;
    padding: 5px;
    border-radius: 10%;
    font-weight: 600;
}
.button-blue {
    background-color: rgb(60, 0, 255, .7);
    color: white;
    margin-top: 0.5rem;
    border: none;
    padding: 5px;
    border-radius: 10%;
    font-weight: 600;
}

.button-red-map {
    background-color: rgba(255, 0, 0, .7);
    color: white;
    border: none;
    padding: 2px;
    border-radius: 10%;
    font-weight: 600;
}

.button-blue-map {
    background-color: rgb(60, 0, 255, .7);
    color: white;
    border: none;
    padding: 2px;
    border-radius: 10%;
    font-weight: 600;
    margin: 0px 7px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.editForm {
    display: flex;
    justify-content: center;
    margin: 1rem;
}